.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 1%;
  padding: 10;
  height: 100vh;
  margin-top: 3px;
  background-color: var(--background-tertiary);
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    .artist-search {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 80vw;
      height: 10vh;
      background-color: var(--background-default);
      position: relative;
      .search-box {
        margin-left: 5px;
        background: transparent;
        color: #fff;
        font-size: 3vw;
        border: 2px solid;
        border-radius: 5px;
        &:focus {
          outline: none;
        }
      }
    }
    @media (max-width: 920px) {
      .artist-search {
        width: 100vw;
      }
      .search-box {
        width: 96vw;
        height: 6vh;
        font-size: 1.5rem !important;
      }
    }
    .search-results {
      .nothing {
        color: var(--background-quaternary);
      }
      overflow-x: hidden;
      max-height: 90vh;
      overflow-y: auto;
      width: 80vw;
      border: 3px solid var(--background-quaternary);
      background-color: var(--background-tertiary);
    }
  }
  @media (max-width: 920px) {
    .search {
      padding-left: 0;
    }
  }
  .history-widget {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    margin: 3px;

    .history {
      text-align: center;
      padding-left: 1%;
      padding-right: 1%;
      width: 250px;
      background-color: var(--background-secondary);
      color: var(--background-quaternary);
      height: 50vh;
      border: 3px solid;
      overflow-y: auto;
      overflow-x: hidden;
    }
    @media (max-width: 920px) {
      .history {
        width: 80vw;
      }
    }
  }
  @media (max-width: 920px) {
    .history-widget {
      height: 50%;
      width: 100%;
    }
  }
}
