/* You can add global styles to this file, and also import other style files */
:root {
  /* Colors */
  --background-default: #2a2e37;
  --background-secondary: #41474d;
  --background-tertiary: #797c80;
  --background-quaternary: #f4faff;
  --background-light: #41474d;

  --foreground-default: #f4faff;
  --foreground-secondary: #a3b9cc;
  --foreground-tertiary: #5c7d99;
  --foreground-light: #ffffff;

  --primary-default: #5dfdcb;
  --primary-dark: #24b286;
  --primary-light: #b2ffe7;

  --error-default: #ef3e36;
  --error-dark: #800600;
  --error-light: #ffcecc;

  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}

body {
  background: var(--foreground-light);
  font-size: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}
